_site
.sass-cache
.jekyll-metadata
Gemfile.lock
desktop.ini
assets/teaching/password-page.html
assets/teaching/POLS-15-Data-Science-Workflow-slides-unprotected.html
assets/teaching/POLS-15-Data-Science-Workflow-video-unprotected.html
assets/teaching/POLS-15-How-To-Lie-slides-unprotected.html
assets/teaching/POLS-15-How-To-Lie-video-unprotected.html
assets/teaching/POLS-15-What-Is-Data-Science-slides-unprotected.html
assets/teaching/POLS-15-What-Is-Data-Science-video-unprotected.html
